/*Home page css*/

html {
  scroll-behavior: smooth;
}
h1{margin-bottom:5px;}
p{margin-top:5px; margin-bottom:5px;}
body {
  background:#000;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;
}
*,::after,::before{box-sizing:border-box}
a,button {transition: all 0.3s ease; text-decoration:none;}
a:hover {text-decoration: none;}
.small,small {font-size: 90%;}
.text-white {color: #fff !important;}
.text-uppercase {text-transform: uppercase !important;}
.text-center {text-align: center !important;}
.scroll-effect {
  min-height: 1100px;
  background: transparent;
    background-image: url("../img/5.jpg");
	height: 100%; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-lowopacity {background-color: rgba(255, 255, 255, 0.8);}
/* crousel */
.homecarousel .mySlides {display: none}
.homecarousel img {vertical-align: middle;}

.homecarousel .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.homecarouseldots {
  text-align: center;
  margin-top: -50px;
  z-index: 100;
  position: relative;
}.homecarousel .prev,.homecarousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.homecarousel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.homecarousel .prev:hover, .client .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.homecarousel .text {
color: #f2f2f2;
font-size: 27px;
padding: 8px 12px;
position: absolute;
bottom: 10%;
width: 100%;
text-align: center;
}
.homecarousel .text b, .titles{
font-size: 56px;
font-family:Tangerine;text-shadow: 4px 4px 4px #0d0c0c;

}
.homecarousel .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.homecarousel .active, .client .dot:hover {
  background-color: #717171;
}

/* Fading animation for work page carousel */
.homecarousel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



.backgroungblackopacity {
  background-color: rgba(15, 29, 32, 0.76);
  color: white;
}
.top-row {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 28px;
}

.top-container {
  max-width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-icon {
  width: 79px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333436;
  color: white;
  border-radius: 50%;
  margin-right: 25px;
}

.top-name {
  font-size: 2.3rem;
  color: #333333;
}

/* Navigation Menu */
.nav-link {
    display: block;}
.navbar-nav {
    list-style: none;
}
.navigationbar {max-width: 100%;min-height: auto;}

.navigationbar .navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.nav-mobileview .navbar-nav .nav-link {
  padding: 19px;
}

.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .active > .nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show > .nav-link {
  color: #66c7f6;
}

.navbar-light .navbar-nav .nav-item.green-highlight.active > .nav-link, 
.navbar-light .navbar-nav .nav-item.green-highlight .nav-link.active, 
.navbar-light .navbar-nav .nav-item.green-highlight .nav-link.show, 
.navbar-light .navbar-nav .nav-item.green-highlight .show > .nav-link {
  color: #006868;
}

.nav-item {
  position: relative;  
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item .navigation-link-highlight {
  visibility: hidden;
}

.nav-item:hover .navigation-link-highlight,
.nav-item.active .navigation-link-highlight {
  visibility: visible;
}

.nav-item .nav-link {
  border-bottom: 1px solid transparent;
}
a.nav-link:hover{ color:#fff !important;}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  border-bottom-color: #66c7f6;
}

.navigation-link-highlight {
  width: 12px;
  height: 12px;
  background-color: #66c7f6;
  position: absolute;
  bottom: -5px;
  border-radius: 50%;
  left: calc(50% - 8px);
}

.nav-item.active.green-highlight .nav-link,
.nav-item.green-highlight:hover .nav-link {
  border-top-color: #006868;
}

.nav-item.active.green-highlight
.navigation-link-highlight {
  background-color: #006868;
}



/* Home Main Part */
#homepage {
  padding-top: 30px;
  padding-bottom: 68px;
}

.home-left {
  max-width: 45%;
  margin-right: 5%;
  margin-left: 5%;
}
.home-right{  width: 40%;
  margin-right: 5%; text-align:right;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.home-hr {
  border-top-color: white;
  margin-bottom: 30px;
}

.home-title {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.home-text {
  margin-bottom: 47px;
}

.btn {
  border-radius: 0;
  padding: 13px 40px;
  font-size: 1.3rem;
}

.btn-primary {
  background-color: white;
  border: 0;  
  color: #3E3F40;
}



.feature-box {
  max-width: 360px;
  min-height: 480px;
  border-radius: 10px;
  text-align: center;
  padding: 40px 50px;
  margin-left: auto;
  margin-right: auto;
}

.feature-name {
  color: black;
  margin-bottom: 50px;
}

.featureimg-box {
  width: 110px;
  height: 110px;
  border: 1px solid #3E3F40;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}


.exp{ padding: 23px 60px;
  min-height: 350px;
  width: calc(100% - 400px); margin-bottom:20px;
  }
h2{margin:2px;}  
.exp ul li>ul li{
	list-style-type:none; font-size:11px;
	}
.floatright{ 
float:right;
}
.floatleft{
	float:left;
	}
.clear{
	clear:both;
	}
.margintop{
	margin-top:30px;
	}
.paddingtop{
	padding-top:30px;
}

.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.div-one-third {
  -ms-flex: 0 0 32.333333%;
  flex: 0 0 32.333333%;
  max-width: 32.333333%;
  margin: 0 0.5%;
}
.div-70-percent{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}

.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.full-width{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

.container-fluid {
  max-width: 1310px;
}

