/* child pages general css */
.scroll-effectinner {
  min-height: 1100px;
  background: transparent;
  background-image: url("../img/7.jpg");
  height: 100%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-lowopacity {
  background-color: rgba(255, 255, 255, 0.8);
}

.top-row {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 28px;
}

.top-container {
  max-width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-icon {
  width: 79px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333436;
  color: white;
  border-radius: 50%;
  margin-right: 25px;
}

.top-name {
  font-size: 2.3rem;
  color: #333333;
}

/* Navigation Menu */
.nav-link {
    display: block;}
.navbar-nav {
    list-style: none;
}
.navigationbar {max-width: 840px;min-height: 120px;justify-content:;}

.navigationbar .navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.nav-mobileview .navbar-nav .nav-link {
  padding: 19px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #666768;
}

.navbar-light .navbar-nav .nav-item.green-highlight.active > .nav-link, 
.navbar-light .navbar-nav .nav-item.green-highlight .nav-link.active, 
.navbar-light .navbar-nav .nav-item.green-highlight .nav-link.show, 
.navbar-light .navbar-nav .nav-item.green-highlight .show > .nav-link {
  color: #006868;
}

.nav-item {
  position: relative;  
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item .navigation-link-highlight {
  visibility: hidden;
}

.nav-item:hover .navigation-link-highlight,
.nav-item.active .navigation-link-highlight {
  visibility: visible;
}

.nav-item .nav-link {
  border-top: 1px solid transparent;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  border-top-color: #666768;
}

.navigation-link-highlight {
  width: 12px;
  height: 12px;
  background-color: #666768;
  position: absolute;
  top: -6px;
  border-radius: 50%;
  left: calc(50% - 8px);
}

.nav-item.active.green-highlight .nav-link,
.nav-item.green-highlight:hover .nav-link {
  border-top-color: #006868;
}

.nav-item.active.green-highlight
.navigation-link-highlight {
  background-color: #006868;
}

.nav-mobileview{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start}
.nav-mobileview .navbar-nav{-ms-flex-direction:row;flex-direction:row}
.nav-mobileview .navbar-nav .dropdown-menu{position:absolute}
.nav-mobileview .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
.nav-mobileview>.container,.nav-mobileview>.container-fluid{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.nav-mobileview .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto}
.nav-mobileview .nav-mobilebtn{display:none}


#about-page {
  padding-bottom: 80px;
}

.about-page-title {
  font-size: 2.5rem;
  margin-top: 72px;
  margin-bottom: 40px;
}

.about-box {
  padding: 25px;
 
  margin-bottom: 30px;
}

.about-title-hr {
  border-top-color: black;
  max-width: 450px;
  margin-bottom:;
}

.backgroungblackopacity {
  background-color: rgba(15, 29, 32, 0.76);
  color: white;
}

.aboutheading {
  padding-bottom: 80px;
}

.about-number-container {
  width: 83px;
  height: 83px;
  font-size: 2.2rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about-name {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-description {
  margin-bottom: 30px;
  line-height: 1.8;
}
.about-description a, .contact-row a{ color:#fff;}
.app-header {
  max-width: 644px;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 60px;
}

#aboutfeature {
  padding-top: 80px;
  padding-bottom: 24px;
}

.app-feature-header {
  font-size: 2.8rem;
}

.aboutfeaturebx {
  display: flex;
  align-items: center;
  padding: 50px 40px; 
  margin-bottom: 40px; 
}
.aboutfeaturebximg{padding:5px;}
.app-feature-icon {
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid;
  width:  120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-app-feature {
  margin-bottom: 35px;
}

.app-feature-description-box {
  color: #2C3030;
}

.app-feature-title {
  font-size: 2rem;
}



.blacktext{color:#343a40!important}
a.blacktext:focus,a.blacktext:hover{color:#121416!important}


/* work page */
.parallaxeffecthead {
  min-height: 700px;
  display: flex;
  align-items: center; 
  margin-top: 42px;
  margin-bottom: 22px;
}

.workhead {
  position: relative;
  z-index: 102;
  width: 100%;
  padding: 45px 15px 37px 15px;
}

.work-page-title {
  font-size: 2.8rem;  
  padding-bottom: 37px;
}

.work-detail-box {
  padding: 80px 70px;
  margin-top: 22px;
  margin-bottom: 41px;
}

#work-contact .tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 135px;
}

.tab-links {
  margin-right: 40px;
  width: 380px;
}

.tab-contents {
  width: calc(100% - 420px);

}

#work-contact .tabs li {
  margin-bottom: 36px;
}

#work-contact .tabs li:last-child {
  margin-bottom: 0;
}

#work-contact .tabs a {
  display: flex;
  align-items: center;  
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: rgba(15, 29, 32, 0.77);
  border: 1px solid rgba(15, 29, 32, 0.77);
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
  transition: all 0.3s;  
}

#work-contact .tabs .icon-wrap {
  width: 75px;
  height: 75px;
  border: 1px solid white;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

#work-contact .tabs .active,
#work-contact .tabs a:hover {
    border-color: white;
    color: #fff!important;
}

#first-tab-group > div {
  background-color: rgba(15, 29, 32, 0.77);
  color: white;
  padding: 45px 60px;
  min-height: 423px;
}

.work-tab-title,
.work-tab-p {
  margin-bottom: 24px;
}


/* Contact page */
.contact-form {
  height: 100%;
  padding: 67px 115px 67px 70px;  
  margin-right: 5px;
}

.contact-text {
  padding: 58px 95px 100px 80px;  
  margin-left: 5px;
}

.contact-col-left {  
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 50px;
}

.form-control {
  background-color: transparent;
  color: white;
  padding: 25px 20px;
display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.form-control:focus {
  background-color: transparent;
  color: white;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;opacity: 1; 
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.contact-row {
  padding-top: 45px;
  padding-bottom: 40px;
}



/* general div design to be use for other pages too */
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.div-one-third{-ms-flex:0 0 32.333333%;flex:0 0 32.333333%;max-width:32.333333%;margin:0 0.5%;}
.marginbottom15{margin-bottom:1.5rem!important}




.container{max-width:1140px}

.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}




/*   general classes */
.halfwidth{-ms-flex:0 0 49%;flex:0 0 49%;max-width:49%; margin:0 0.5%;}
.full-width{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

/* crousel */
.client .mySlides {display: none}
.client img {vertical-align: middle;}

.client .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.client .prev,.client .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.client .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.client .prev:hover, .client .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.client .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.client .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.client .active, .client .dot:hover {
  background-color: #717171;
}

/* Fading animation for work page carousel */
.client .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* responsive codes for media queries */
img{max-width:100%;}
.container-fluid {
  max-width: 1310px;
}
